.header{
    width: 100%;
    height: 150px;
    background: orange;
}
.left-section{
    width: 20%;
    height: 400px;
    background: rgb(205, 91, 110);
    float: left;
}
.right-section{
    width: 80%;
    height: 400px;
    background: rgb(174, 13, 56);
    float: left;
}
.footer{
    height: 150px;
    width: 100%;
    background: rebeccapurple;
}
.content{
    height: 400px;
}
body{
    margin: 0px;
}